<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.demoappkotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoAppkotlin">
        <activity
            android:name=".binding_adapter.BindingAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".WebServices.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".mvvm.View.MVVMActivity"
            android:exported="false" />
        <activity
            android:name=".mvc.View.MVCActivity"
            android:exported="false" />
        <activity
            android:name=".WebView.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".WebServices.CreateUserActivity"
            android:exported="false" />
        <activity
            android:name=".WebServices.SingleUserActivity"
            android:exported="false" />
        <activity
            android:name=".MVP.View.View.RecyclerViewWithApi"
            android:exported="true" />
        <activity
            android:name=".WebServices.LoginScreenWithApi"
            android:exported="false"
            android:theme="@style/Theme.DemoAppkotlin.NoActionBar" />
        <activity
            android:name=".activityAndFragments.JetPackNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".activityAndFragments.DataPassingTwoActivity"
            android:exported="false" />
        <activity
            android:name=".activityAndFragments.DataPassingActivityOne"
            android:exported="false" />
        <activity
            android:name=".activityAndFragments.ImplicitIntent"
            android:exported="false" />
        <activity
            android:name=".activityAndFragments.ActivityLifecycle"
            android:exported="false" />
        <activity
            android:name=".listviewpager.ExpandableRecyclerViewActivity"
            android:exported="false"
            android:label="@string/title_expandable_recycler_view"
            android:parentActivityName=".listviewpager.ListViewActivity" />
        <activity
            android:name=".listviewpager.ExpandableListViewActivity"
            android:exported="false"
            android:label="@string/title_expandable_list_view"
            android:parentActivityName=".listviewpager.ListViewActivity" />
        <activity
            android:name=".listviewpager.ViewPagerThreeActivity"
            android:exported="false"
            android:label="@string/title_swipable_list_view"
            android:parentActivityName=".listviewpager.ListViewActivity" />
        <activity
            android:name=".listviewpager.BottomNavigationActivity"
            android:exported="false"
            android:label="@string/title_bottom_navigation"
            android:parentActivityName=".listviewpager.ListViewActivity" />
        <activity
            android:name=".listviewpager.ViewPagerTwoActivity"
            android:exported="false"
            android:label="@string/title_view_pager_two"
            android:parentActivityName=".listviewpager.ListViewActivity" />
        <activity
            android:name=".listviewpager.ViewPagerActivity"
            android:exported="false"
            android:label="@string/title_view_pager"
            android:parentActivityName=".listviewpager.ListViewActivity" />
        <activity
            android:name=".listviewpager.RecyclerViewWithGridLayoutActivity"
            android:exported="false"
            android:label="@string/title_recycler_view_grid_layout"
            android:parentActivityName=".listviewpager.ListViewActivity" />
        <activity
            android:name=".listviewpager.RecyclerViewActivity"
            android:exported="false"
            android:label="@string/title_recycler_view"
            android:parentActivityName=".listviewpager.ListViewActivity" />
        <activity
            android:name=".listviewpager.CustomListViewActivity"
            android:exported="false"
            android:label="@string/title_custom_list_view"
            android:parentActivityName=".listviewpager.ListViewActivity" />
        <activity
            android:name=".listviewpager.SimpleListViewWithArrayActivity"
            android:exported="false"
            android:label="@string/title_list_view"
            android:parentActivityName=".listviewpager.ListViewActivity" />
        <activity
            android:name=".listviewpager.SimpleListViewActivity"
            android:exported="false"
            android:label="@string/title_simple_list_view"
            android:parentActivityName=".listviewpager.ListViewActivity" />
        <activity
            android:name=".listviewpager.ListViewActivity"
            android:exported="false"
            android:label="@string/title_list_view_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".differentLayout.FrameLayoutActivity"
            android:exported="false"
            android:parentActivityName=".differentLayout.LayoutActivity" />
        <activity
            android:name=".differentLayout.GridLayoutActivity"
            android:exported="false"
            android:parentActivityName=".differentLayout.LayoutActivity" />
        <activity
            android:name=".differentLayout.ConstraintLayoutActivity"
            android:exported="false"
            android:parentActivityName=".differentLayout.LayoutActivity" />
        <activity
            android:name=".differentLayout.LinearLayoutActivity"
            android:exported="false"
            android:parentActivityName=".differentLayout.LayoutActivity" />
        <activity
            android:name=".differentLayout.RelativeLayoutActivity"
            android:exported="false"
            android:parentActivityName=".differentLayout.LayoutActivity" />
        <activity
            android:name=".differentLayout.LayoutActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AndroidUI"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BasicsKotlin"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>