<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.demoappkotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoAppkotlin">
        <activity
            android:name=".listView_ViewPager.ExpandableRecyclerViewActivity"
            android:label="Expandable Recycler View "
            android:parentActivityName=".listView_ViewPager.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".listView_ViewPager.ExpandableListViewActivity"
            android:label="Expandable List View"
            android:parentActivityName=".listView_ViewPager.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".listView_ViewPager.ViewPagerThreeActivity"
            android:label="Swipable List view"
            android:parentActivityName=".listView_ViewPager.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".listView_ViewPager.BottomNavigationActivity"
            android:label="Bottom Navigation "
            android:parentActivityName=".listView_ViewPager.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".listView_ViewPager.ViewPagerTwoActivity"
            android:label="Tab Layout with ViewPager 2"
            android:parentActivityName=".listView_ViewPager.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".listView_ViewPager.ViewPagerActivity"
            android:label="Tab Layout With View Pager"
            android:parentActivityName=".listView_ViewPager.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".listView_ViewPager.RecyclerViewWithGridLayoutActivity"
            android:label="Recycler View With Grid layout"
            android:parentActivityName=".listView_ViewPager.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".listView_ViewPager.RecyclerViewActivity"
            android:label="Recycler View With Adapter Class"
            android:parentActivityName=".listView_ViewPager.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".listView_ViewPager.CustomListViewActivity"
            android:label="Custom List View With Adapter"
            android:exported="false"
            android:parentActivityName=".listView_ViewPager.ListViewActivity" />
        <activity
            android:name=".listView_ViewPager.SimpleListViewWithArrayActivity"
            android:label="Simple List View With Array"
            android:exported="false"
            android:parentActivityName=".listView_ViewPager.ListViewActivity" />
        <activity
            android:name=".listView_ViewPager.SimpleListViewActivity"
            android:label="Simple List View "
            android:exported="false"
            android:parentActivityName=".listView_ViewPager.ListViewActivity" />
        <activity
            android:name=".listView_ViewPager.ListViewActivity"
            android:label="List View Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".differentLayout.FrameLayoutActivity"
            android:exported="false"
            android:parentActivityName=".differentLayout.LayoutActivity" />
        <activity
            android:name=".differentLayout.GridLayoutActivity"
            android:exported="false"
            android:parentActivityName=".differentLayout.LayoutActivity" />
        <activity
            android:name=".differentLayout.ConstraintLayoutActivity"
            android:exported="false"
            android:parentActivityName=".differentLayout.LayoutActivity" />
        <activity
            android:name=".differentLayout.LinearLayoutActivity"
            android:exported="false"
            android:parentActivityName=".differentLayout.LayoutActivity" />
        <activity
            android:name=".differentLayout.RelativeLayoutActivity"
            android:exported="false"
            android:parentActivityName=".differentLayout.LayoutActivity" />
        <activity
            android:name=".differentLayout.LayoutActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AndroidUI"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BasicsKotlin"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>